html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    height: 100px;
    scrollbar-width: thin;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #4f474748;
    height: 10px;
} 
